
*{box-sizing:border-box;margin:0;padding:0;}
.body{
    background-color: #224870;
}
.container{
    display:flex;    
    justify-content:center;
    align-items:center;
    height:100vh;
    
}

.calculadora{
    display: flex;
    flex-direction:column;
    background-color: #00916e;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
    width:50%;
    margin:auto;
}


.calculadora-display{
    padding: 25px 15px;
    width:50%;
    margin: 50px auto;   
    background-color: #4e4e4e;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
    font-size:2rem;
    
}


.calculadora-keypad{
     display: flex;    
     align-items: center;
     margin-left: 25%;
     flex-wrap: wrap;
     width: 50%;
}


.keypad-button{
    cursor: pointer;
    width:25%;
    margin: 5px;
    padding:15px 0;   
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #00916e;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
    text-align: center;
}
.keypad-button:active{
    background-color: #006f54;
}



@media screen and (max-width: 500px) {
    .calculadora{
        width: 100%;
    }

    .calculadora-display{
        width: 80%
    }

    .calculadora-keypad{
        width: 90%;
        margin: auto;
        margin-left: 10%;
    }
}